{
    "parserOptions": {
        "ecmaVersion": 9
    },
    "extends": [
        "airbnb",
        "prettier",
        "react"
    ],
    "rules": {
        "indent": ["error", 2],
        "react/sort-comp": 0,
        "react/destructuring-assignment": 0
    }
}