.sidePanel {
  background: var(--dark);
  color: var(--light);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75vw;
  z-index: 2;
}

.tabNav {
  display: flex;
  border-bottom: 1px solid var(--transparent-grey-dark);
}

.tabButton {
  flex: 1 1 auto;
  padding: 0.5rem;
  background-color: var(--dark);
}

.activeTabButton {
  background-color: var(--primary);
}

.tabContent {
  overflow: auto;
  width: 100%;
  height: calc(100% - 30px);
  padding: 0.5rem 0 1rem 0.375rem;
}

.close {
  flex: 0 0 auto;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0;
  width: 30px;
}
