.sidePanel {
  background: var(--grey-100);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border-left: 1px solid var(--transparent-grey);
  box-shadow: 0 0 14px var(--transparent-grey-light);
}

:global(.dark) .sidePanel {
  background: var(--grey-700);
  color: var(--light);
  border-left-color: var(--transparent-grey-dark);
  box-shadow: 0 0 14px var(--transparent-grey);
}

.tabNav {
  display: flex;
  height: 31px;
}

:global(.dark) .tabNav {
  height: 30px;
}

.tabButton {
  flex: 1 1 auto;
  padding: 0.5rem;
  background-color: var(--grey-200);
  font-size: 12px;
  font-weight: 500;
  border-right: 1px solid transparent;
  border-bottom: 1px solid var(--transparent-grey-light);
  border-left: 1px solid transparent;
}

:global(.dark) .tabButton {
  background-color: var(--grey-800);
  color: var(--grey-100);
}

.activeTabButton {
  background-color: var(--grey-100);
  border-right-color: var(--transparent-grey-light);
  border-bottom-color: var(--grey-100);
  border-left-color: var(--transparent-grey-light);
}

:global(.dark) .activeTabButton {
  background-color: var(--grey-700);
  border-right-color: var(--transparent-grey-light);
  border-bottom-color: var(--grey-700);
  border-left-color: var(--transparent-grey-light);
}

.tabContent {
  overflow: auto;
  width: 100%;
  height: calc(100% - 30px);
  padding: 0.5rem 0 1rem 0.375rem;
}

.close {
  flex: 0 0 auto;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0;
  width: 30px;
}

.codeBlock {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--transparent-grey);
}
