.tableWrapper {
  margin: 0 0 0.5rem -0.375rem;
  width: calc(100% + 0.375rem);
  overflow-x: auto;
}

.headersTable {
  width: 100%;
}

.headersTable td {
  white-space: nowrap;
}

.headerName {
  min-width: 180px;
}
